.activityTypeElement {
  margin: 0%;
  padding: 25px 0 15px 0;
  cursor: pointer;
}

.activityTypeElement:hover {
  background-color: #dddddd;
}

.glyphicon-remove-sign:hover {
  color: red;
}

input.ng-valid {
  border: 1px solid #00CC11;
  border-radius: 4px;
}

input.ng-valid.ng-touched{
  border: 1px solid #00CC11;
  border-radius: 4px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  border-radius: 4px;
}

button:hover:disabled {
  background-color: #454545!important;
}

label {
  font-size: 16px;
  text-align: center;
  margin-bottom:0px;
}

.user-page-label {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.form-signin-heading {
  margin-top: 80px;
}

.user-table {
  display: table !important;
  margin: 0 auto !important;
}
.user-table-td{
  background-color: #e3e3e3;
  margin: 15px 15px 15px 15px;
  padding: 5px 5px 5px 5px;
  border: 1px solid #f0f0f5;
  width:225px;
  height:225px;
  text-align: center;
  cursor: pointer;
}

.user-table-td:hover {
  color: #f0f0f5;
  background-color: #333;
}
.user-table-td-icon {
  font-size: 125px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 3s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadersmall {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
