.calendar-table {
  display: table;
  margin: 0 auto;
  margin-bottom: 100px;
}
.calendar-table-td {
  background-color: #e3e3e3;
  margin: 15px 15px 15px 15px;
  padding: 5px 5px 5px 5px;
  border: 1px solid #f0f0f5;
  width: 200px;
  height: 130px;
  text-align: center;
  cursor: pointer;
}

.calendar-header {
  text-align: center;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}

th {
  background-color: #e3e3e3;
  min-width: 90px;
  min-height: 120px;
  text-align: center;
  margin: 15px 15px 15px 15px;
  padding: 5px 5px 5px 5px;
  border: 1px solid #f0f0f5;
}

td:hover {
  background-color: #d6d6d6;
}

label {
  cursor: pointer;
}

.glyphicon-arrow-left {
  font-size: 30px;
  cursor: pointer;
}

.glyphicon-arrow-right {
  font-size: 30px;
  cursor: pointer;
}
