<div style="margin-top: 20px;">

    <div class="row col-sm-12">
      <div class="col-sm-3"></div>
      <div class = "col-sm-2 offset-sm-2 text-left"><span class="glyphicon glyphicon-arrow-left" (click)="previousMonth()"></span> </div>
      <div class = "col-sm-2 calendar-header"> {{getHeader()}}</div>
      <div class = "col-sm-2 text-right"><span class="glyphicon glyphicon-arrow-right" (click)="nextMonth()"></span></div>
  </div>
  <div class="row calendar-table">
    <thead>
      <tr>
        <th>Pon</th>
        <th>Wt</th>
        <th>Sr</th>
        <th>Czw</th>
        <th>Pt</th>
        <th>Sb</th>
        <th>N</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td class = "calendar-table-td" (click)="getDay(week*7)">
          <span class="" aria-hidden="true"></span>
          <label class="text-center" >{{getDayToDisplay(week*7) }}</label>
        </td>
        <td class = "calendar-table-td" (click)="getDay(week*7+1)">
          <span class="" aria-hidden="true" ></span>
          <label class="text-center" >{{getDayToDisplay(week*7 + 1) }}</label>
        </td>
        <td class = "calendar-table-td" (click)="getDay(week*7+2)">
          <span class="" aria-hidden="true" ></span>
          <label class="text-center" >{{getDayToDisplay(week*7 + 2) }}</label>
        </td>
        <td class = "calendar-table-td" (click)="getDay(week*7+3)">
          <span class="" aria-hidden="true" ></span>
          <label class="text-center" >{{getDayToDisplay(week*7 + 3) }}</label>
        </td>
        <td class = "calendar-table-td" (click)="getDay(week*7+4)">
          <span class="" aria-hidden="true"></span>
          <label class="text-center" >{{getDayToDisplay(week*7 + 4) }}</label>
        </td>
        <td class = "calendar-table-td" (click)="getDay(week*7+5)">
          <span class="" aria-hidden="true"></span>
          <label class="text-center" >{{getDayToDisplay(week*7 + 5) }}</label>
        </td>
        <td class = "calendar-table-td" (click)="getDay(week*7+6)">
          <span class="" aria-hidden="true" ></span>
          <label class="text-center" >{{getDayToDisplay(week*7 + 6) }}</label>
        </td>
      </tr>
    </tbody>
  </div>
</div>
