<section id="zajecia">
  <div class="container">
    <h3 class="section-heading">Zajęcia</h3>
    <div class="col-xs-12">
      <a href="#opis_zajec" style="text-decoration: none; color: #333">
        <div *ngFor="let activityType of activityTypes" class="col-lg-3 text-center activityTypeElement"
             (click)="selectActivity(activityType)">
          <img src="assets/img/zajecia1.jpg" alt="Zdjęcie zajęć WOD 1" width="140" height="200">
          <h3>{{ activityType.name }}</h3>
        </div>
      </a>
    </div>
  </div>
</section>

<section id="opis_zajec" *ngIf="selectedActivityType != undefined && selectedActivityType.selected == true"
         style="padding:75px 0 25px 0;">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="row"></div>
      <h1 style="margin-left: 4%">{{ selectedActivityType.name }} <h1 style="float: right; margin: 0"><a href="#zajecia" style="text-decoration: none; color: #333">
          <span class="glyphicon glyphicon-remove-sign" style="cursor: pointer"
                (click)="closeActivityType(selectedActivityType)"></span></a></h1></h1>
      <img src="assets/img/zajecia1.jpg" alt="Zdjęcie zajęć WOD 1" width="280" height="400"
           style="margin: 10px 0 29px 0">
      <div class="row">
        <h4 class="text-justify">{{selectedActivityType.description}}</h4>
      </div>
    </div>
  </div>
</section>
