<div class="text-center">
  <!-- Login alert -->
  <div class="alert alert-danger" id="login-alert" style='display: none;'>
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Nieprawidłowy login albo hasło!</strong>
  </div>
  <!-- /Login alert -->


  <!-- Warning alert -->
  <div class="alert alert-danger" id="warning-alert" style='display: none;'>
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Ups, coś poszło nie tak! Spróbuj ponownie.</strong>
  </div>

  <!-- /Warning alert -->
  <div style="margin: 0 auto; width:400px;">
    <form class="form-group" [formGroup]="loginForm" >
      <h2 class="form-signin-heading" align="center">Zaloguj się</h2>
      <input type="text" class="form-control" name="login" formControlName="login"
             placeholder="Twój login" [(ngModel)] = "loginClass.login"/>
      <input type="password" class="form-control" name="haslo" formControlName="password"
             placeholder="Hasło" [(ngModel)] = "loginClass.password"/>
      <div style="text-align: center">
        Nie masz jeszcze konta? <a (click)="setPage('registration_page')">Zarejestruj się!</a>
      </div>
      <button *ngIf="!loginAction" class="btn btn-lg btn-primary btn-block bl-btn" type="submit"
      [disabled]="!loginForm.valid" (click)="login()">Zaloguj się</button>
      <div *ngIf="loginAction && !userLoginError" class="loadersmall"></div>
      <div *ngIf="userLoginError" class="alert alert-danger" role="alert" style="margin-top: 20px;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Błędny login lub hasło
      </div>
    </form>
  </div>
</div>
