<div class="col-sm-12" style="margin-top: 120px;">
  <div class="user-table">
    <tr>
      <td class = "user-table-td" (click)="setPage('user_account_details_page')">
        <span class="glyphicon glyphicon-user user-table-td-icon" aria-hidden="true"></span>
        <label class="text-center user-page-label" >MOJE KONTO</label>
      </td>
      <td class = "user-table-td" (click)="setPage('user_activities_page')">
        <span class="glyphicon glyphicon-calendar user-table-td-icon" aria-hidden="true"></span>
        <label class="text-center user-page-label" >MOJE ZAJĘCIA</label>
      </td>
      <td class = "user-table-td">
        <span class="glyphicon glyphicon-plus user-table-td-icon" aria-hidden="true"></span>
        <label class="text-center user-page-label" >ZAPISZ SIĘ NA ZAJĘCIA</label>
      </td>
    </tr>
  </div>

</div>
