<div style="margin: 0 auto; width:400px;">


  <form class="form-group" [formGroup]="registrationForm" style="margin-bottom: 100px;" >
    <h2 class="form-signin-heading" align="center">Zarejestruj się</h2>

    <div *ngIf="userRegistrationError" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Uzytkownik o podanym adresie e-mail juz istnieje. Proszę podać inny adres email
    </div>

    <input type="text" class="form-control" id="name" placeholder="Twoje imię"
           formControlName="name" [(ngModel)]="registrationClass.name" required/>
    <input type="text" class="form-control" name="lastName" placeholder="Twoje nazwisko"
           formControlName="lastName" [(ngModel)]="registrationClass.lastName" required/>
    <input type="email" class="form-control" name="email" placeholder="Adres email"
           formControlName="email" [(ngModel)]="registrationClass.email" required/>
    <input type="password" class="form-control" name="password" placeholder="Hasło"
           formControlName="password" [(ngModel)]="registrationClass.password" required/>
    <input type="password" class="form-control" name="password" placeholder="Powtóz hasło"
           formControlName="repeatPassword" [(ngModel)]="registrationClass.repeatPassword" required/>
    <input type="text" class="form-control" name="address" placeholder="Twój adres"
           formControlName="address" [(ngModel)]="registrationClass.address" required/>
    <br>
    <button *ngIf="!registrationAction" class="btn btn-lg btn-primary btn-block bl-btn" type="submit"
            [disabled]="!registrationForm.valid" (click)="register()">Rejestracja</button>
    <div *ngIf="registrationAction && !userRegistrationError" class="loadersmall"></div>
  </form>
</div>
