<section id="cennik">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="section-heading">Cennik</h3>
        <table class="table">
          <thead>
          <tr>
            <th>TYP KARNETU</th>
            <th>CENA</th>
          </tr>
          </thead>
          <tbody>


          <tr *ngFor="let passType of passTypes">
            <td>{{passType.name}}</td>
            <td>{{passType.price}} zł</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
