<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand" (click)="setPage('main_page')">Siłownia</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#zajecia" (click)="setPage('main_page')">Zajęcia</a>
        </li>
        <li>
          <a href="#cennik" (click)="setPage('main_page')">Cennik</a>
        </li>
        <li>
          <a href="#grafik" (click)="setPage('main_page')">Grafik</a>
        </li>
        <li>
          <a href="#trenerzy" (click)="setPage('main_page')">Trenerzy</a>
        </li>
        <li>
          <a href="#kontakt" (click)="setPage('main_page')">Kontakt</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="panel"></li>
        <li *ngIf="!user" id="logowanie" (click)="setPage('login_page')" style="cursor: pointer;"><a><span
          class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></li>
        <li *ngIf="user" id="user_page"  tyle="cursor: pointer;"><a (click)="setPage('user_page')"><span
          class="glyphicon glyphicon-user"> </span> {{user.name + " " + user.lastName}}</a>
        </li>
        <li *ngIf="user"><a (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Wyloguj się</a></li>
      </ul>
    </div>
  </div>
</nav>

<header class="image-bg-fluid-height" *ngIf="!page.userActivitiesPage">
  <img class="img-responsive img-center" src="" alt="Image not avaliable">
</header>

<main-page *ngIf="page.mainPage" [page]="page"></main-page>
<login-page *ngIf="page.loginPage" [page]="page" [user]="user" (userUpdate) = "userUpdate($event)"></login-page>
<registration-page *ngIf="page.registationPage" [page]="page" [user]="user" (userUpdate) = "userUpdate($event)"></registration-page>
<user-page *ngIf="page.userPage" [page]="page" [user]="user"></user-page>
<trainer-page *ngIf="page.trainerPage" [page]="page"></trainer-page>
<user-activities-page *ngIf="page.userActivitiesPage" [page]="page"></user-activities-page>
<user-account-details-page *ngIf="page.userAccountDetailsPage" [page]="page" [user]="user"></user-account-details-page>

<footer class="container-fluid text-left">
  <div class="row">
    <img src="../assets/img/mybenefit-logo.png">
    <img src="../assets/img/fit-profit-logo.png">
  </div>
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- GoogleAPI -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgsI-x-V7hX4PhL0k9-d2Qm6tpcQrX_pg&callback=initMap">
</script>
