<section id="trenerzy" *ngIf="trainers">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading">Nasza kadra</h1>
        <div class="col-lg-12">
          <div class="col-lg-3 text-center" *ngFor="let trainer of trainers">
            <img src="{{getPicturePath(trainer)}}" alt="Zdjęcie trenera" width="140" height="200">
            <h3>{{trainer.name + " " + trainer.lastName}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
