body {
  margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  background: #f0f0f5;
}

a {
  cursor: pointer;
}

th, td {
  padding: 15px;
  text-align: left;
}

footer {
  background-color: #000000;
  padding: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  clear: both;
}

section {
  padding: 35px 0;
}

@media (max-width: 768px) {
  section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .section-heading {
    font-size: 2em;
  }
}

.image-bg-fluid-height,
.image-bg-fixed-height {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.image-bg-fluid-height {
  background: url('https://static.pexels.com/photos/161557/sports-fitness-body-building-iron-161557.jpeg') no-repeat center center scroll;
  padding: 100px 0;
}

.image-bg-fixed-height {
  background: url('https://static.pexels.com/photos/28080/pexels-photo.jpg') no-repeat center center scroll;
  height: 450px;
}

.img-center {
  margin: 0 auto;
}

.section-heading {
  margin: 30px 0;
  font-size: 4em;
}

.section-lead {
  margin: 30px 0;
}

.section-paragraph {
  margin: 30px 0;
}

.mapa {
  width: 100%;
  height: 400px;
  background-color: #f7f7f7;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card {
  padding: .75rem;
  margin-bottom: 2rem;
  background-color: #f7f7f7;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.col-lg-3 {
  background-color: #f7f7f7;
}

.padding {
  padding: 50px 30px 30px;
  margin-bottom: 50px;
}

.navbar-nav {
  cursor: pointer;
}
