<div class="row" style="margin: 0 auto; width:500px;">
  <form class="form-group" [formGroup]="userForm" >
    <h2 align="center">Twoje dane</h2>

    <div class="form-group">
      <label>Imię</label>
      <input type="text" class="form-control" id="name" placeholder="Twoje imię"
             formControlName="name" [(ngModel)]="tempUser.name" required/>
    </div>
    <!--<div [hidden]="registrationForm.get('name').valid || registrationForm.get('name').pristine"-->
    <!--class="alert alert-danger">-->
    <!--Name is required-->
    <!--</div>-->
    <label>Nazwisko</label>
    <input type="text" class="form-control" name="lastName" placeholder="Twoje nazwisko"
                 formControlName="lastName" [(ngModel)]="tempUser.lastName" required/>
    <label>Adres email</label>
    <input type="email" class="form-control" name="email" placeholder="Adres email"
           formControlName="email" [(ngModel)]="tempUser.email"  required/>
    <label>Adres</label>
    <input type="text" class="form-control" name="address" placeholder="Twój adres"
           formControlName="address" [(ngModel)]="tempUser.address" required/>
    <label>Wiek</label>
    <input type="text" class="form-control" name="age" placeholder="Twój wiek"
           formControlName="age" [(ngModel)]="tempUser.age" required/>
    <br>
    <button *ngIf="!editMode" class="btn btn-lg btn-primary btn-block bl-btn" type="submit"
             (click)="editData()">Edytuj dane</button>
    <button *ngIf="editMode" class="btn btn-lg btn-primary btn-block bl-btn" type="submit"
            [disabled]="!userForm.valid" (click)="saveData()">Zapisz dane</button>
  </form>
</div>
